spring:
  application:
    name: api-gateway
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/auth_db}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database-platform: org.hibernate.dialect.PostgreSQLDialect

server:
  port: ${PORT:8080}

jwt:
  secret: ${JWT_SECRET:YourSuperSecretKeyForJWTTokenGenerationMustBe256BitsLongForHS256AlgorithmToWorkProperly}
  expiration: 86400000
